.input-wrapper {
  @apply relative inline-flex w-full h-fit text-black-normal;
}

.input {
  @apply w-full font-medium bg-transparent border-none transition-colors placeholder-gray-normal;
  color: inherit;
  font-size: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input:not(:placeholder-shown) + .clear-icon {
  @apply flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  margin: 0;
}

input {
  outline: none;
  border: none;
  background: transparent;
}

input[type='number'] {
  -moz-appearance: textfield;
}
