.switch-slider {
  @apply transition-colors duration-200;
}

.switch-slider::before {
  @apply block rounded-full bg-gray-normal translate-x-0 transition-all duration-200;
  content: ' ';
}

.switch-input ~ .switch-slider {
  @apply border-gray-normal bg-white-normal;
}

.switch-input:checked ~ .switch-slider::before {
  @apply bg-#FFF5E7 translate-x-20px;
}

.switch-input:checked ~ .switch-slider {
  @apply border-#FFE9CB bg-#FFE9CB;
}

.switch-slider-medium {
  @apply w-52px h-32px;
}
.switch-slider-medium::before {
  @apply w-24px h-24px;
}

.switch-slider-small {
  @apply w-46px h-25px;
}
.switch-slider-small::before {
  @apply w-16px h-16px;
}
