html {
  font-family: 'Outfit';
  scroll-behavior: smooth;
}

:root {
  --w3m-z-index: 100001 !important;
}

input {
  font-family: 'Outfit';
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: auto;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: auto;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: auto;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: auto;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: auto;
}

body {
  @apply m-0 p-0 overflow-hidden h-full bg-#FFFDFA min-h-100vh;
  background-image: url('/src/assets/icons/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-scroller {
  @apply w-100vw h-[calc(100vh-84px)] lt-md:h-[calc(100vh-56px)] overflow-x-hidden;
}

.main-scroller > .scrollbar__content {
  @apply overflow-x-hidden;
}

#root > .scrollbar__wrapper > .scrollbar__thumbPlaceholder--horizontal {
  @apply !display-none;
}

.scrollbar__thumb {
  @apply bg-#EE9B27;
}

* {
  -webkit-tap-highlight-color: transparent;
}

ul,
ol {
  padding-inline-start: 0;
  padding-inline-start: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

button {
  display: inline-flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  border: none;
  white-space: nowrap;
}

.contain-content {
  contain: content;
}

.contain-strict {
  contain: strict;
}

.contain-size {
  contain: size style paint;
}

.text-gradient-orange {
  background-image: linear-gradient(94.16deg, #ee9b27 -1.32%, #e14d28 46.7%, #6f84b8 95.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient-orange {
  background: linear-gradient(94.16deg, #ee9b27 -1.32%, #e14d28 46.7%, #6f84b8 95.78%);
}
